
/* Fondos */

.background{
background-image: url("/View/img/fondo.jpg");    
background-position: center;

/* Para que no se vea mal al reducir la pantalla */
background-repeat: inherit; 
}

.banner{

    /* Para ajustar el banner de fondo */

    width: 100%;
    height: 100%;
    background-image: url("/View/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
 } 

 .container{
    margin: 3%;
    text-align: center;
    /* Para el fondo negro transparente */
    background: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);

    /* Para la sombra */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

/* Flex */

#cars{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.barra{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
    margin: 1%;
    width: 98%;
    height: 10%;

    
}

/* Grid */

.gridArea{
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: 120px !important;
    grid-template-areas: 
    "A A A"
    "B B B"
    "C C C" !important;
}

.A{
    grid-area: A !important;
}

.B{
    grid-area: B !important;
}

.C{
    grid-area: A !important;
}

/* Colores */

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

/* Bordes */

.whiteBorder{
    border: 3px solid white;
    border-radius: 7px; 
}

.blackBorder{
    border: 3px solid black;
    border-radius: 7px; 
}

/* Espacio */

.space{
    margin: 1%;
}


/* Fuentes de letra */

.font{
color: black;
font: oblique bold 120% cursive;
}

/* Acciones */

a:hover{

    /* Para cambiar el cursor al del juego original */

    color: black !important;
    cursor:url('/View/img/Cursor.cur'), auto;	
}

.sticky{

    /* Para que la barra sea sticky */
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.carousel-inner{
    margin: 1% !important;
    width: 96% !important;
    height: 500PX !important;
}