
/* Fondos */

.background{
background-image: url("/View/img/fondo.jpg");
background-position: center;
}

.banner{

    /* Para ajustar el banner de fondo */

    width: 100%;
    height: 100%;
    background-image: url("/View/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
 } 

 .container{
    margin: 3%;

    /* Para el fondo negro transparente */
    background: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);

    /* Para la sombra */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

/* Flex */

#cars{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.barra{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
    margin: 1%;
    width: 98%;
    height: 10%;

    /* Para que la barra sea sticky */
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

/* Grid */




/* Colores */

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

/* Bordes */

.whiteBorder{
    border: 3px solid white;
    border-radius: 7px; 
}

.blackBorder{
    border: 3px solid black;
    border-radius: 7px; 
}

/* Espacio */

.space{
    margin: 1%;
}

/* Botones */

.botonNav{
    color: black;
    
}

.boton{

}

/* Fuentes de letra */

.font{
color: black;
font: oblique bold 120% cursive;
}

/* Acciones */

a:hover{

    /* Para cambiar el cursor al del juego original */

    color: black !important;
    cursor:url('/View/img/Cursor.cur'), auto;	
}

