
/* Fondos */

.background{
background-image: url("/View/img/fondo.jpg");
background-position: center;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url("/View/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-color: black; */
    text-align: center;
 } /* Para ajustar el banner de fondo */


/* Flex */

.container{
    background-color: rgb(99, 82, 82);
    margin: 3%;
    border: 3px solid rgb(236, 174, 174);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;

    /* Para la sombra */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.barra{
    display: flex;
    margin: 1%;
    width: 98%;
    height: 10%;
    align-items: center;
    text-align: center;
}

/* Grid */




/* Colores */

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

/* Bordes */

.whiteBorder{
    border: 3px solid white;
    border-radius: 7px; 
}

.blackBorder{
    border: 3px solid black;
    border-radius: 7px; 
}

/* Espacio */

.space{
    margin: 1%;
}

/* Botones */

.botonNav{

}

.boton{

}




